<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志管理小站</title>
    <link rel="stylesheet" href="mail_template.css">
</head>
<body>
<h3>** 今日工作内容 **</h3>
<br>
<br>
<h3>** 小组成员日报 **</h3>
<table class="journal_table">
    <thead>
    <tr>
        <th>姓名</th>
        <th>今日工作</th>
        <th>进度</th>
        <th>耗时</th>
        <th>问题&amp;风险</th>
        <th>明日计划</th>
        <th>日期</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
    </tr>
    </tbody>
</table>
<p><b>小组成员：</b>sjsdj，sdfads，sdfa，xadfd</p>
</body>
</html>